ion-menu-button {
  color: var(--ion-color-primary);
}

main {
  height: 82vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  padding: 4px 8px;

  span {
    width: 36px;
    height: 36px;
    background: #eee;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999999px;
  }

  p {
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 4px;
  }

  &.user {
    align-self: flex-end;
    align-items: flex-end;

    span,
    p {
      background: blue;
    }
  }

  &.bot {
    align-self: flex-start;

    span,
    p {
      background: green;
    }
  }
}